Repository GoogleChromeLabs/houdini.how, pull requests merged in 2020-12, with the labels that each got.

#122 (fix): Fix Resource component layout
  public/components/CardMeta/style.module.css
Labels: bug

#126 Add circles worklet demo
  public/assets/images/bramus.jpg
  worklets/circles.json
Labels: worklet

#127 (resource): CSS paint API: Being predictably random
  public/assets/images/jaffathecake.jpg
  resources/being-predictably-random.json
Labels: resource

#86 (resource): extra.css
  resources/extra-css.json
Labels: resource

#129 Added houdini-leaf worklet
  public/assets/images/zhenyang.jpg
  worklets/houdini-leaf.json
Labels: worklet

#131 feat: Add houdini-noise by Jhey Tompkins
  public/assets/images/jheytompkins.jpg
  worklets/noise.json
Labels: worklet

#136 Added a new variance to Leaf example
  worklets/houdini-leaf.json
Labels: worklet

#134 feat: Add Houdini Tesla by Jhey Tompkins
  worklets/tesla.json
Labels: worklet

#85 Add comment in contribution instructions
  CONTRIBUTING.md
Labels: documentation
